<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>COLOUR PREFERENCE TASK</title>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bar-charts-stylesheet.css">
    <script src="/exit.js" defer></script>

</head>

<body>
<div class="content-wrapper">
    <div class="wrapper">
        <header>
            <div class="title-container">
                <h1>THANK YOU FOR PARTICIPATING</h1>
                <br>
            </div>
        </header>
            <div class="surveyCode">
                <h3><b>SURVEY CODE</b></h3>
                <h3><b>Please do not press the back button or return to the previous page as your results will not be saved!</b></h3>
                <h3>If you came from an Amazon Mechanical Turk please use the survey code below in order to get your conmpensation</h3>
                <h3 id="surveyCode"></h3>
                <h3>Thank you again for participating in this project!
                    <br>For more information on the results of this study please email:
                    <br><b></b><a href="mailto:s1711095@ed.ac.uk"></a><b>s1711095@ed.ac.uk</b> </h3>
            </div>
    </div>
</div>
</body>
</html>