<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>COLOUR PREFERENCE TASK</title>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bar-charts-stylesheet.css">
    <script defer src="/exit.js"></script>

</head>

<body>
<div class="content-wrapper">
    <div class="wrapper">
        <header>
            <div class="title-container">
                <h1>THANK YOU FOR PARTICIPATING</h1>
                <br>
            </div>
        </header>
            <div class="surveyCode">
                <h3><b>SURVEY CODE</b></h3>
                <h3><b>Please do not press the back button or return to the previous page as your results will not be saved!</b></h3>
                <h3>If you came from Amazon Mechanical Turk please use the survey code below in order to get your compensation</h3>
                <h3 id="surveyCode"></h3>
                <h3>Thank you again for participating in this project!
                    <br>For more information on the results of this study please email:
                    <br><b></b><a href="mailto:s1711095@ed.ac.uk"></a><b>s1711095@ed.ac.uk</b> </h3>
            </div>
        <div class="form">
            <h3>Please write in the form below, with your survey code starting the message, if you have had any issues or have any comments or suggestions</h3>
            <form>
<!--                <label for="msg">Message:</label>-->
                <textarea id="msg" name="user_message"></textarea>
                <br>
                <br>
<!--                <input id="submit_button" type="button" value="submit">-->
                <input type="button" value="submit" onclick="reloadPage()">
            </form>
            <script>
                const ip_address = "localhost:8080"
                function reloadPage() {
                    let msg_text = document.getElementById("msg").value;
                    console.log(msg_text);
                    fetch(`http://${ip_address}`, {
                        headers: {'Content-Type': "application/x-www-form-urlencoded"},
                        method: 'POST',
                        body: msg_text
                    })
                        .then(function (res){console.log(res)})
                        .catch(function (res) {console.log(res)});
                    window.location.href = "/exit";
                }
            </script>
        </div>
    </div>
</div>
</body>
</html>