* {
    box-sizing: border-box;
}

body {
    /*background-color: #F6F2EB;*/
    background-color: #FFFBF6;
    font-family: 'Chivo', sans-serif ;
    color: #686666;
}

header {
    font-family: 'Chivo', sans-serif ;
    text-align: center;
    color: #686666;
}
h1 {
    font-weight: 450;
    font-style: normal;
    letter-spacing: 0.08em;
    font-size: 40px;
}

h3 {
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.09em;
    font-size: 20px;
}

h4{
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.09em;
    font-size: 18px;
    text-align: left;
    line-height: 1.5em;
}

h6{
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.09em;
    font-size: 18px;
    padding: 0;
    margin: 10px;
}
p {
    margin-top: 0;
    font-family: 'Chivo', sans-serif ;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.09em;
    font-size: 26px;
    text-align: center;
    color: #686666;
}

.buttons-items-wrappers {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-grow: 1;
    align-items: flex-start;
}
button {
    margin-top: 20px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

button:link{
    text-decoration: none;
}

button:visited {

    text-decoration: none;
}

.container{
    margin-top: 20px;
    font-size: 20px;
}

.description{
    display: flex;
    line-height: 1.5em;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    align-content: center;
}

.intro-instr{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    align-content: center;
}

.colour-blind-check{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    align-content: center;
}

.instr{
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    align-content: center;
}

a:link{
    text-decoration: none;
}

a:hover{
    color: #686666;
}